@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

.panel p {
    height: 70px;
    width: 350px;
    background-color: rgba(226, 82, 231, 0.445);
    font-size: 20px;
    float: none;
    font-family: 'Kablammo', cursive;
   border: 4px solid #111;
    padding: 20px 40px;
    margin: 5px 0px;
    box-sizing: border-box;
    letter-spacing: 3px;
    word-spacing: 4px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 50px;
    border-top-right-radius: 100px;
}
.panelMain{
    width: 100%;
 padding: 70px 0;
}

body{
    background-image: url(002.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;

}

.logo h1{
    color: rgb(226, 82, 231);
    font-family: 'Kablammo', cursive;

}
.logo {
    max-width: 1000px;
    min-width: 900px;
    margin: auto;
    padding: 20px 0px;
}
a{
    color:rgb(226, 82, 231);
    text-decoration: none;
    /* transition: all.2s; */
}
a:hover {
    color: rgb(255, 0, 0);
    /* font-size: 2rem; */
}
/* a:visited{
    color: azure;
} */
a:active{
    color: bisque;
}
.btn{
   background: #ff0000; 
   padding: 15px 20px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   font-family: inherit;

}
.btn:hover {
    opacity:0.8 ;
}
.cont{
    background-color:rgba(121, 139, 141, 0.445);
    height: 500px;
    width: 25%;
    margin: 0px;
    float: left;
    padding: 5px 0;

}
h3{
    color: #fff;
}

.list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.list li{
    margin-bottom: 8px;
    /* border-bottom: 1px solid red; */
}
.main{
    width: 100%;

}
.table{
    width: 100%;

}
.table td{
    text-align: center;
    padding-bottom: 10px;
}
.table td:hover{
    background: #ff0000;
}
/* .table td:nth-child(even){
   background: #570fdd;
}
.table td:nth-child(2), .table td:nth-child(4)  {
    background: #3d0303;
} */
.navbar{
    background: rgb(255, 255, 255);
    /* padding: 10px 20px; */
    margin-bottom: 10px;
    border-bottom-left-radius: 50px;
    /* border-bottom-right-radius: 50px;
    border-top-left-radius: 50px; */
    /* border-top-right-radius: 50px; */
    width: 800px;
}
.navbar ul{
list-style: none;
margin: 0;
padding: 0px 20px;
display: flex;
}
.navbar ul li{
    margin-right: 10px;
    padding: 10px;
}
.navbar ul li:last-child{
    margin-right: 0px;
}
.navbar ul li:hover{
    background: #a01c1c69;
}

.vik{
    height: 200px;
    width: 200px;
    float: right;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
